*{box-sizing: border-box;}

body, header{
      margin: 0;
      padding: 0;
      background-color: rgb(207, 200, 192);
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul, li {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      padding-right: 5px;
      background-color:#928568 ; 
      width: 100%;  
      height: 25px; 
}

#lovecats,#dogfamily,#catdog,#lovedog  {
      height: 150px;
      width: 130px;
      transform:rotate(-5deg);
      box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
      
}

.content_card{display: flex;flex-direction: row;justify-content: space-around;padding: 30px;}

img{width: 100%; height: 50px;border-radius: 10px;}

.none{display: inline;color:red}

a{     
      display: flex; 
      justify-content: flex-end;
      width: 100px;
      text-align: center;
      padding: auto;
      color: #181611;
      font-weight: bold;
}

#home{width:50px;transition:0.7s;}
#events{width:100px;transition:0.7s;}
#job{width:135px;transition:0.7s;}

 #home:hover,#events:hover,#job:hover{background-color:black;color:aliceblue;border-radius: 5px;}

.contenair{position: relative;}

.title{
      position: absolute;
      font-size: 30px;
      top: 7px;
      left: 80px;
      font-weight: bold;
}

p, pre, label{font-size: 20px;line-height: 30px;text-align: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

label{font-weight: bold;font-size: 30px;margin-top: 3px;padding: 10px;}

.list{margin-right: 80px;}

h1, h3{text-align: center;}



.contact{width: 100%;}

.social-media, img{
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100%;
      padding-bottom: 20px;
      height: 100px;
}

.facebook{padding-right: 10px;}
.instagram{padding-left: 10px;padding-right: 10px;}
.twitter{padding-left: 10px;}
.icon{font-size: 0.5em;}
.social_contains{background-color:#928568 ;}

.media:hover{transform:scale(1.5);transition:0.4s linear;}

.form{display: flex;width: 85%;}

.input_txt{display: flex;flex-direction: column;align-items: center;justify-content: center;width:100%;margin:20px;}

.in{height:40px;width:280px;border-radius: 20px;font-size: 1.5em;text-align: center;box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);}

.in:focus{background-color: rgb(207, 200, 192);width: 320px;height: 50px;}


.choice{display: flex;width: 100%;justify-content: space-around;padding: 30px;flex-direction: column;}
.inbox{width: 30px;}
.add{margin-top: -38px;margin-left: 20px;}

.submit{width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: 1.5em;
        font-weight: bold;
        background-color: #928568;
        transition:0.7s;
        border:3px solid black
      }

.submit:hover{background-color:rgb(207, 200, 192);width: 180px;height: 50px;rotate: 360deg;}

textarea{border-radius: 20px;font-size: 1.5em;text-align:center;margin-bottom: 30px;width: 300px;}

/*for tablet*/
@media only screen and (min-width:650px ) { 
      #lovecats, #dogfamily {
            width: 30%;
            height: 300px;
            border: none;
            padding: 0;
            transform:rotate(-5deg);
            margin-top: 10px;
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
      }

      #catdog,#lovedog {
            width: 30%;
            height: 300px;
            border: none;
            padding: 0;
            transform:rotate(5deg);
            margin-top: 10px;
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
      }
      .content_card{display: flex;flex-direction: row;justify-content: space-around;padding: 30px;}
      .emoji{font-size: 75px;padding-top: 50px;transform:rotate(-20deg)}
      .emoji2{font-size: 75px;padding-top: 200px;transform:rotate(30deg);}
      p{padding: 20px;}
      .title{position: absolute;font-size: 50px;top: 7px;font-weight: bold;}
     
      ul, li {
            margin: 0;
            display: flex;
            justify-content: space-around;
            padding-right: 5px;
            background-color:#928568 ; 
            width: 100%;  
            height: 50px;
            align-items: center;
            font-size: 40px; 
      }
      #home{width:120px;transition:0.7s;}
      #events{width:250px;transition:0.7s;} 
      .form{display: flex;width: 100%;}
      .choice{display: flex;width: 60%;flex-direction: column;padding: 30px;margin: 10px;}
      .add{margin-bottom: 50px;}
      textarea{width: 700px}
      
}

/*for Desktop*/
@media only screen and (min-width: 1310px) {
      #lovecats, #dogfamily {
            width: 30%;
            height: auto;
            border: none;
            padding: 0;
            transform:rotate(-5deg);
            margin-top: 10px;
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
      }

      #catdog,#lovedog {
            width: 30%;
            height: auto;
            border: none;
            padding: 0;
            transform:rotate(5deg);
            margin-top: 10px;
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
      }
      .content_card{display: flex;flex-direction: row;justify-content: space-around;padding: 30px;}
     .emoji{font-size: 150px;padding-top: 50px;transform:rotate(-30deg)}
     .emoji2{font-size: 150px;padding-top: 200px;transform:rotate(30deg);}
     p{padding: 20px;}
     .title{position: absolute;font-size: 50px;top: 7px;font-weight: bold;}
     
      ul, li {
            margin: 0;
            display: flex;
            justify-content: space-around;
            padding-right: 5px;
            background-color:#928568 ; 
            width: 100%;  
            height: 50px;
            align-items: center;
            font-size: 40px; 
      }
      #home{width:120px;transition:0.7s;}
      #events{width:250px;transition:0.7s;}
      .form{display: flex;width: 100%;}
      .choice{display: flex;width: 100%;flex-direction: row;padding: 30px;margin: 10px;}
      .inbox{width: 30px;}
      .add{margin-top: 2px;margin-left: 20px;}
      textarea{width: 60%;}
}


        
      